@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
body,html {
    width: 100%;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.wrap {
    position: relative;
}
.menu {
    width: 120px;
    position: fixed;
    right: 10px; top: 100px;
    z-index: 999;
    background: #5460ff;
    border-radius: 20px;
}
.menu li {
    height: 100px;
    line-height: 100px;
}
 .menu li a {
     margin: 0 7px;
     margin-left: 20px;
     font-size: 16px;
 }
 .menu li a:hover {
     font-weight: bold;
 }
 .off {
     color: #fff;
 }
 .on {
     font-weight: bold;
     color: #ff549e;
 }

 #page1{
     background: rgb(146, 190, 255);
     background-image: url('../img/intro.jpg');
     height: 750px;
 }
 .hi1 {
    font-size: 30px;
    padding: 20px 30px;
    color: #fff;
 }
 .hi2 {
     clear: both;
     text-align: center;
     font-size: 90px;
     margin: 150px;
     margin-bottom: 400px;
     color: #fff;
     background-color: #666;
     width: 1400px;
     margin: 200px auto;
     border-radius: 40px;
     opacity: 0.8;
 }
.con_tit {
    text-align: center;
    padding: 80px;
    font-size: 45px;
}
.profile {
    position: relative;
    width: 920px;
    margin: 0 auto;
}
.pic {
    display: inline-block;
    width: 400px;
    border: 1px solid #666;
}
.introduce {
    position: absolute;
    right: 0px; top: 10px;
    display: inline-block;
    width: 450px;
}
.tb_tr {
    height: 50px;
    line-height: 50px;
}
.tb_tr th {
    width: 130px;
    font-size: 20px;
}
.tb_tr td {
    font-size: 20px;
}

#page2 {
    clear: both;
    width: 100%;
    display: block;
    height: 700px;
    padding-bottom: 50px;
}
.mycapa {
    clear: both;
    width: 1280px;
    margin: 0 auto;
}
.capa_lst li{
    display: inline-block;
    width: 180px;
    float: left;
    margin-bottom: 50px;
}
.capa1 {
    width: 800px;
    margin: 0 auto;
}
.capa1 li {
    margin-left: 70px;
}
.capa2 {
    clear: both;
    width: 900px;
    margin: 0 auto;
}
.capa2 li {
    margin-left: 40px;
}
.capa_lst img {
    display: inline-block;
    margin-left: 22px;
}
.capa_lst li p {
    text-align: center;
    margin-top: 10px;
}
.lan_tit {
    font-size: 20px;
    font-weight: bold;
}
.mycapa_tit {
    margin-top: 150px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 45px;
}

#page3 {
    clear: both;
    display: block;
    width: 100%;
    height: 1000px;
    padding-bottom: 50px;
    background-color: #e8fff1;
    /* padding-top: 30px; */
}
.portpage_tit {
    clear: both;
    text-align: center;
    font-size: 30px;
    height: 90px;
    line-height: 70px;
}
.portpage_con {
    clear: both;
    width: 900px;
    margin: 0 auto;
    height: 350px;
}
.portpage_img_box {
    display: block;
    position: relative;
    z-index: 1;
    float: left;
    width: 450px;
    height: 248px;
    margin-left: 210px;
    margin-right: 50px;
    
}
.img_tit {
    position: absolute;
    display: block;
    z-index: 99;
    width: 450px;
    height: 158px;
    background-color: #666;
    opacity: 0.6;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
    cursor: pointer;
}
.clme {
    font-size: 24px;
    color: #fff;
    z-index: 99;
    padding-top: 20px;
}
.clme:hover {text-decoration: underline;}
.portpage_img {
    position: absolute;
    z-index: 0;
    box-shadow: 10px 10px 5px 5px #ccc;
    float: left;
    border-radius: 20px;
}
.img_before {
    opacity: 0.7;
}
.portpage_txt {
    display: none;
    padding-top: 30px;
    background-color: #e3e3e3;
    height: 230px;
    border-radius: 20px;
}
.portpage_tb {
    font-size: 18px;
}
.portpage_tb th {
    width: 90px;
    text-align: left;
    height: 30px;
    line-height: 30px;
}

.com {
    height: 800px;
}
.pub {

}
.go_page {
    
}
.go_page:hover {
    text-decoration: underline;
    font-weight: bold;
}

#page4 {
    clear: both;
    background-color: #fff4e8;
}
.contact {
    width: 50%;
    margin: 0 auto;
}
.contact_con {
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-right: 30px;
}
.contact_tb th {
    width: 120px;
    height: 100px;
}
.contact_tb td {
    font-size: 24px;
}

#page5 {
    clear: both;
    height: 1000px;
}
/* 스킬css */
body {
    
    font-family: 'Source Sans Pro',sans-serif;;
    }

.container {
    clear: both;
    display: block;
    text-align: center;
}

.chart {
    position: relative;
    display: inline-block;
    margin: 10px 7px;
    color: #999;
    font-size:18px;
    text-align: center;
    font-weight:bold;
}
.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.ft {
    display: block;
    width: 100%;
    height: 300px;
    background-color: black;
    margin-top: 30px;
}
.ft_m {
    width: 520px;
    margin: 0 auto;
    padding-top: 20px;
}
.town {
    display: inline-block;
    width: 510px;
    margin: 0 auto;
}
.town_tit {
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
}
.town_img {
    border-radius: 30px;
}
.lm {
    font-size: 22px;
    border-radius: 20px;
    margin-top: 10px;
    text-indent: 14px;
}
.lm_tit {
    text-align: center;
    color: #fff;
    font-size: 24px;
}
.lm_btn {
    height: 30px;
    width: 60px;
    margin-left: 150px;
    border: 0px;
    border-radius: 7px;
}
