@charset "utf-8";
/* 로그인 페이지 */
/* .content {width: 100%;  } */
.login_tank { clear: both; width: 1100px; height: 700px; margin: 0 auto; }
.logbox_m, .logbox_um {width: 530px; height: 500px; margin-top: 80px; text-align: center;}
.logbox_m {float: left; background-color: rgb(219, 180, 255);}
.logbox_um {float: right; background-color: rgb(206, 237, 255);}
.login_check {display: block; width: 350px; margin: 0 auto;}
.com_img {display:block; 
    background-image:url("./img_source/spr_msg.png");
    background-repeat:no-repeat;
    text-indent:-9999px;}
.logp1 {display: block; width: 43px; height: 50px;
    background-position: -163px 0px; margin: 0 auto; margin-top: 50px;}
.log_tit {font-size: 30px; margin: 20px 0;}
.login_check {width: 300px; height: 40px; margin-top: 10px; text-indent: 14px;}
.login_check_btn { width: 304px; height: 48px; margin: 10px 0;
        background-color: blueviolet; font-size: 18px; font-weight: bold; color: #fff;}
.id_find {width: px; margin: 10px 5px; }
.id_find a {color: black;}
.call { display: block; margin: 10px 0;}

.logp2 {display: block; width: 35px; height: 50px;
    background-position: -305px 0px; margin: 0 auto; margin-top: 50px;}
.login_name_ck {width: 140px; height: 40px; margin: 0 5px; text-indent: 14px;}
.login_pn_ck {width: 238px; height: 40px; margin: 0; text-indent: 14px;}
.login_pn_btn {width: 55px; height: 44px; margin: 0; margin-top: 10px; 
    background-color: blueviolet; color: #fff; font-weight: bold;}
.login_check_btn2 { width: 304px; height: 48px; margin: 10px 0;
        background-color: gray; font-size: 18px; font-weight: bold; color: #fff;}
.find_num a {color: black;}

/* 회원가입 페이지 */
.join_form {clear: both;}
.join_tit {width: 144px; margin: 0 auto; margin-top: 120px; margin-bottom: 70px;}
.join_tit h2 {font-size: 36px; font-weight: bold;}
.in_com {float: right;}
.lb {display: inline-block; width: 150px; height: 46px; line-height: 46px;
    font-size: 18px;}
.join_con {border-top: 1px solid #333; margin-top: 10px;}
.join_con:last-child {border-bottom: 1px solid #000;}
.indata {width: 170px; height: 40px; margin-top: 10px; font-size: 18px; text-indent: 14px;}
.indata_adr {display: inline-block; width: 400px; height: 40px; margin-left: 155px;
    margin-top: 10px; font-size: 18px; text-indent: 14px;}
.indata_phn {width: 70px; height: 40px; font-size: 18px; text-indent: 14px; margin-top: 10px;}
.indata_ex_phn {width: 70px; height: 40px; font-size: 18px; text-indent: 14px; margin-top: 10px;}
.indata_y {display: inline-block; width: 70px; height: 30px; font-size: 18px; text-indent: 14px;}
.indata_d {display: inline-block; width: 70px; height: 30px; font-size: 18px; text-indent: 14px;
    margin-left: 10px;}
.mailcheck {display: inline-block; width: 25px; height: 25px; margin-left: 15px;}
.jen_com {margin-left: 20px;}
.join_btn {width: 120px; height: 40px; background-color: rgb(232, 208, 255);
    font-size: 18px; font-weight: bold;}
.join_last_btn {display: block; width: 300px; height: 40px; margin: 20px auto;
    font-size: 18px; background-color: rgb(178, 96, 255); font-weight: bold;}
