@charset "UTF-8";

* {margin: 0; padding: 0;}
body, html {width: 100%; height: 100%;}
ul {list-style:none;}
a {text-decoration: none;}
button, label, input { outline:0; border:0; user-select:none;}
img {border:0;}

.hd {clear: both; min-height: 120px;}
.tit {font_size: 48px; text-align: center; line-height: 80px;}
.gnb {clear: both; height: 60px; line-height: 60px; background-color: #f27900;}
.gnb li {float: left; width: 150px; height: 60px; line-height: 60px;}
.gnb a {display: block; text-align: center; line-height: 40px; height: 40px; margin-top: 10px;
	color:#fff; border-left: 1px solid #; width: 150px;}
.btn_fr {float: right; margin-right: 20px;}
.btn {display: block; border-radius: 5px; text-align: center; padding: 0 16px;
	line-height: 32px; box-shadow:2px 2px 20px #666; background: #666;}
	
.page {clear: both; padding-bottom: 30px; padding-top: 0px; width: 100%;}
.page_tit {text-align: center; font-size:32px}
.menu {clear: both; padding-bottom: 20px;}
.menu ul {clear: both; width: 1200px; margin: 0 auto; mim-height: 400px;}
.menu li {float: left; min-width: 150px;}
.menu li a {display: block; text-align: center; line-height: 40px; height: 40px;
	margin: 20px 10px; color:#fff; background-color: #333; box-shadow:2px 2px 20px #666;}
	



